*{
    margin: 0%;
    padding: 0%;
    font-size: 40px;
    line-height: 44px;
    color: rgb(184, 192, 198);
    font-family: 'Helvetica';
    font-weight: 400;
}

body{
    background-color: black;
}

.titel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

h1{
    display: inline;
}

model-viewer{
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.227);
    width: 75%;
    height: 75%;
}